<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%- feed_meta -%}
	
	{%- if jekyll.environment == 'production' and site.google_analytics -%}
		{%- include google-analytics.html -%}
	{%- endif -%}
	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" type="text/css">
</head>
